Flask==3.0.3
flask-cors==5.0.0
langchain==0.3.2
ollama==0.3.3
subprocess.run==0.0.8
pytest-shutil==1.7.0
pyttsx3==2.98
pydub==0.25.1
torch==2.4.1
transformers==4.44.2
datasets==3.0.1
strings
soundfile==0.12.1
random
